services:
  backend:
    env_file: .env.development
    build:
      dockerfile: dev.Dockerfile
    ports:
      - 8000:8000
    develop:
      watch:
        - path: ./backend
          target: /backend
          action: sync
        - path: ./backend/poetry.lock
          action: rebuild
        - path: ./backend/pyproject.toml
          action: rebuild
        - path: ./backend/poetry.toml
          action: rebuild
    command: poetry run python server.py
  frontend:
    build:
      dockerfile: dev.Dockerfile
    ports:
      - 3000:3000
    develop:
      watch:
        - path: ./frontend
          action: rebuild
          ignore:
            - public/
            - src/
        - path: ./frontend/public
          target: /frontend/public
          action: sync
        - path: ./frontend/src
          target: /frontend/src
          action: sync
    command: npm run dev -- -H 0.0.0.0 -p 3000
